<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View All</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--Navigation-->

    <nav class="navbar bg-dark col-sm-12,col-md-12,col-lg-12,col-xl-12">
            <div class="container-fluid">
                <ul class="nav">
                    <%for(var i=0;i<nav.length;i++){%>
                        <li class="navbar-item">
                            <a href ="<%=nav[i].link%>" class="item"><%=nav[i].title%></a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </nav>
        <!--Top-->
    
    <div class="jumbotron col-sm-12 col-md-12 col-ld-12 col-xl-12" id="top">
        <div class="container-fluid">
            <div>
                <h1><%=title%></h1>
            </div>
            <div class="card">
                <%for(var i=0;i<students.length;i++){%>
                    <h6><%=students[i].name%></h6>
                    <p>Roll Number : <%=students[i].rollNo%></p>
                    <p>Admission Number : <%=students[i].admno%></p>
                    <p>College : <%=students[i].college%></p>
                    <hr>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>